include ./command_line.jade
	if table.init_datatable
		script(type="text/javascript").
			$("#table").DataTable();
table#table
	thead
		tr
			for value in table.columns
				th #{value}
	tbody
		for row in table.data
			tr
				for col in row
					th #{col}
	tfoot
