include ./command_line.jade
	if table.init_datatable
		script(type="text/javascript").
			init_datatable();
table#table
	thead
		tr
			for value in table.columns
				th #{value}
	tbody
		if table.data
			for row in table.data
				tr
					for col in row
						th #{col}
	tfoot
