extends ./base.jade

block append head
	script(type="text/javascript").
		$(function() {
			$("#table").DataTable({
				"ajax": {
					"url": "/api/0.9.0/user",
					"dataSrc": ""
				},
				"columns": [
					{"data": "id"},
					{"data": "name"},
					{"data": "profile"},
				]

			});
		});
block header
	include ./includes/header.jade
block content
	#content
		include ./includes/datatable.jade

