extends ./base.jade

block append head
	script(type="text/javascript").
		$(document).ready(function() {
			$("#table").DataTable();
		});
block header
	include ./includes/header.jade
block content
	#content
		include ./includes/datatable.jade

