extends base.jade

block append head
	script(type="text/javascript").
		$(document).ready(function() {
			init_datatable();
		});
block header
	include header.jade
block content
	#content
		include datatable.jade

